/* CSS- BOTÕES, INPUTS E CAMPOS DE SELECT */

.botao-cadastro{
  background-color: #7e0300;
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 500px;
}

.botao-registro {
  background-color: #7e0300;
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 700px;
  margin-left: 250px;
}

.botao:hover {
  background-color: #51100F;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.519);
  border: 2px solid  #969696;
}